<div id="recipients" class="row">
  <div class="col">
    <div id='form' class="col-8 m-auto">
      <form v-on:submit.prevent="handleRecipientAddFormSubmit()" class="form p-5" action="">
        <div class="form-group col mx-auto">
          <input v-model="recipient.first_name" class="form-control p-3" type="text" placeholder="first name">
        </div>
        <div class="form-group col mx-auto">
          <input v-model="recipient.last_name" class="form-control p-3" type="text" placeholder="last name">
        </div>
        <div class="form-group col mx-auto">
          <input v-model="recipient.aliases"  class="form-control p-3" type="text" placeholder="comma seperated aliases">
        </div>
        <div class="form-group col mx-auto text-right mt-4 mb-0">
          <button class="btn btn-outline-primary mr-3" type="submit" >add</button>
        </div>
      </form>
    </div>
    
  </div>
</div>