
<div id='register' class="row">
  <div id='form' class="col-md-8 m-auto">
    <message :message="messaging"></message>
    <form v-on:submit.prevent="handleRegisterFormSubmit()" class="p-md-5" action="">
      <div class="form-group col mx-auto">
        <input v-model="register.name" class="form-control p-3" type="text" placeholder="name">
      </div>
      <div class="form-group col mx-auto">
        <input v-model="register.organization_name" class="form-control p-3" type="text" placeholder="organization name">
      </div>
      <div class="form-group col mx-auto">
        <input v-model="register.email" class="form-control p-3" type="email" placeholder="email">
      </div>
      <div class="form-group col mx-auto">
        <input v-model="register.password" class="form-control p-3" type="password" placeholder="password">
      </div>
      <div class="form-group col mx-auto">
        <input v-model="register.password_confirmation" class="form-control p-3" type="password" placeholder="confirm your password">
      </div>
      <div class="form-group col mx-auto text-right mt-4 mb-0">
        <button class="btn btn-outline-primary mr-3" type="submit" >register</button>
        <router-link to='/signin'>login</router-link>
      </div>
      
    </form>
  </div>
</div>