<div id=splash class="row">
  <div id="home-splash-img" class="w-100">
    <div class="overlay"></div>
  </div>
  <div id='splash-heading' class="col d-flex flex-column align-self-center">
    <div class="row">
      <div class="col-xl-6 mx-auto">
        <h1 id='splash-heading-main' class="text-primary">namespy
        <img class="img-fluid" src="../../../img/spyglass.svg" alt="">
        </h1>
    <h2 id='splash-sub-heading' class="text-white">a solution for non-profit organizations to make automatic sdn inquiries</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto mt-3">
        <router-link to='/signin'><button class="btn btn-lg btn-outline-primary mr-3 px-5">login</button></router-link>
        <router-link to='/signup'><button class="btn btn-lg btn-outline-primary m-3 px-5">sign up</button></router-link>
      </div>
    </div>

  </div>
</div>