<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="row">
      <div class="col">
        <h1 class="display-2">Purpose:</h1>
        <p>NameSpy Provides a quick way for non-profit organizations
to check and store a list of individuals or organizations that receive international monetary transactions.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">How:</h1>
        <p>We provide a place to store recipient names in your user profile. Once the recipient is in the database we keep an eye on the SDN (Specially Designated Nationals) list and send you an email if there is someone you should be aware of. <router-link to="/signup">Signup</router-link> here.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">What is the SDN list:</h1>
        <p>The SDN is a list of individuals and companies that are called "Specially Designated Nationals" or "SDNs." The U.S has marked these individuals and companies as blocked/ prohibited for a U.S person to deal with. For more info click <a href="https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/sdn_data.aspx">here</a>.</p>
      </div>
    </div>
  </div>
</div>